
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 15% 97.5%;
    --foreground: 194 42% 10%;
    --card: 0 0% 100%;
    --card-foreground: 194 42% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 194 42% 10%;
    --primary: 194 42% 30%;
    --primary-foreground: 200 15% 98%;
    --secondary: 188 33% 90%;
    --secondary-foreground: 194 42% 30%;
    --muted: 200 10% 90%;
    --muted-foreground: 194 20% 45%;
    --accent: 188 33% 53%;
    --accent-foreground: 200 15% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 20% 88%;
    --input: 194 20% 88%;
    --ring: 194 42% 30%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
